.profile-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.home-icon {
  cursor: pointer;
  color: #333;
}

.posts-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 80px;
}

.profile-post-item {
  background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.profile-post-item img {
  width: 100%;
  height: 200px; 
  object-fit: cover; 
  border-radius: 8px;
}

.profile-post-item audio {
  width: 300px; 
  margin-bottom: 10px;
}

.post-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.user-name {
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
}

.delete-icon {
  cursor: pointer;
  color: #ff4d4d;
}
.home-bar {
  background-color: var(--beige); 
  position: fixed; 
  top: 0;
  width: 100%; 
  z-index: 1000; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  padding: 0 20px; 
  height: 60px;
  box-sizing: border-box; 
}
.welcome-message {
  margin: 40px 0 20px 0;
  text-align: center;
}

.welcome-message h2 {
  font-size: 24px;
  color: #333;
}

